@import "../../global.scss";

.contact {
    .title-position {
        width: 460px;
        height: 140px;
        margin: 347px 28px 48px 61px;
    }

    .quotation-position-1 {
        margin: 48px 36px 16px 61px;
    }
}
