@import "../../global.scss";

.right {
    .image {
        position: fixed;
        bottom: 0px;
        right: 0px;

        width: 45%;

        z-index: 8;

        background-color: transparent;
    }
}