.manifesto{
    height: 100vh;
    background-color: black;

    .section {
        height: calc(100vh - 104px);
        background-color: black;

        .title-position {
            padding: 196px 0 0 173px;
            background-color: black;
        }

        .line-break {
            display: block;
            height: 1px;
            width: 1094px;
            margin: 24px 0 0 173px;
            border-radius: 10px;
            background-color: #333;
        }

        .quotation-position-1 {
            background-color: black;

            padding: 24px 0 24px 173px;
        }
    }
}

